{% extends "base.html" %}
{% block content %}
<!-- REGISTER FORM BOOTSTRAP5 -->
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11" style="display:flex; gap:5px; justify-content:space-between">

        <div class="card" style="width: 18rem; background-color: #eee;">
          <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsTtIopAyIJGXfH333HEea4OtWsW9iHdKUFetbb_4Mqw&s" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Open</a>
          </div>
        </div>

        <div class="card" style="width: 18rem; background-color: #eee;">
          <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsTtIopAyIJGXfH333HEea4OtWsW9iHdKUFetbb_4Mqw&s" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Open</a>
          </div>
        </div>

        <div class="card" style="width: 18rem; background-color: #eee;">
          <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsTtIopAyIJGXfH333HEea4OtWsW9iHdKUFetbb_4Mqw&s" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Open</a>
          </div>
        </div>

        <div class="card" style="width: 18rem; background-color: #eee;">
          <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsTtIopAyIJGXfH333HEea4OtWsW9iHdKUFetbb_4Mqw&s" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Open</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}