{% extends 'base.html' %}

{% block title %}
    Create  a new  post
{% endblock %}

{% block top_content %}
	{{ form.media }}
{% endblock %}

{% block content %}

	<div class="col-lg-7 col-lg-offset-2">
        <h1 class="page-header">Create Post</h1>
	</div>

	<div class="row">
		<div class="col-lg-9 col-lg-offset-2">
			<form action="{% url 'create' %}"  enctype="multipart/form-data"  method="post">
				{% csrf_token %}
				{% include 'blog/include/form-include.html' %}
				{% include 'blog/include/index.html' %}
				<div class="form-group">
					<div class="row">
						<div class="col-lg-6">
							<input type="submit" value="Save" class="btn btn-sm btn-success">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}