{% extends 'base.html' %}
{% load static %}

{% block title %}
	Post List
{% endblock %}

{% block top_content %}

{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="page-header"><a href="{% url 'list' %}">
					<span class="glyphicon glyphicon-circle-arrow-left"></span> </a><a
						href="#"> {{ blog.title|upper }}</a>
					<span style="font-size: 20px;">{{ blog.get_category_choices_html}}</span>
					<small class="pull-right"><span class="glyphicon glyphicon-time"></span> {{ blog.created_date }}
					</small>
				</h2>

				{% if blog.get_image %}
					<div class="row">
						<div class="col-lg-12">
							<img class="img-responsive" src="{{ blog.get_image }}" alt="">
						</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-lg-12">
						<p class="lead">{{ blog.content|safe|linebreaksbr }}</p>
						<p class="lead">{{ blog.category_choices.all|join:"," }}</p>
					</div>
				</div>

				<div class="row">
					<br>
					<div class="col-lg-3">
						<a class="btn btn-primary btn-sm" href="{% url 'edit' blog.slug %}">Update</a>
						<a class="btm btn-danger btn-sm" href="{% url 'delete' blog.slug %}">Delete</a>
					</div>
				</div>
				<div class="row">
					<h2 class="page-header">Add Your Comment </h2>
					<form action="{% url 'add_comment' blog.slug %}" method="post">
						{% csrf_token %}
						{% for field in form %}
							<div class="row">
								<div class="col-lg-9 col-lg-offset-2">
									<div class="form-group">
										{{ field.label_tag }}
										{{ field }}
										{% if field.errors %}
											{% for error in field.errors %}
												<span class="text-danger"><b>{{ error }}</b></span>
											{% endfor %}
										{% else %}
											{% if field.help_text %}
												<span class="text-success"><b>{{ field.help_text }}</b></span>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
						<div class="row">
							<div class="col-lg-9 col-lg-offset-2">
								<div class="form-group">
									<input type="submit" value="Comment" class="pull-right btn btn-primary">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<h2 class="page-header">Comments {{ blog.get_blog_comment|length }}</h2>
					<div class="col-lg-12">
						{% for comment in blog.get_blog_comment %}
							<div>
								<span style="font-weight: bold">{{ comment.get_screen_name }}</span>
								<span class="pull-right" style="font-weight: bold"><span
										class="glyphicon glyphicon-time"></span> Before {{ comment.created_on|timesince }}</span>
							</div>
							<br>
							<p style="padding-left: 10px" class="lead">{{ comment.content }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

