{% extends 'base.html' %}

{% block title %}
    Post Editing
{% endblock %}

{% block content %}

{#	<div class="col-lg-7 col-lg-offset-2">#}
{#        <h1 class="page-header">Update this Post</h1>#}
{#	</div>#}

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1 class="page-header">Update this Post</h1>
			<form action="{% url 'edit' blog.slug %}" enctype="multipart/form-data" method="post"> {# form.instance.slug #}
				{% csrf_token %}
				{% include 'blog/include/form-include.html' %}
				<div class="form-group">
					<div class="row">
						<div class="col-lg-6">
							<input type="submit" value="Save" class="btn btn-sm btn-success">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
